@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

MESA HERMANOS & CIA

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #29a4db;
$green_color: #85bf3f;
$brown_color: #754c24;
$pink_color: #e61e79;
$yellow_color: #eabb37;
$purple_color: #2e318b;
$background: #ebebeb;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Bebas Neue Book';
	src: url(fonts/BebasNeueBook.otf);
}

@font-face {
	font-family: 'Bebas Neue Bold';
	src: url(fonts/BebasNeueBold.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: #000;
	.moduletable_to11 {
		font-size: 12px;
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

.top {
	background-color: rgba(0, 0, 0, 0.4);
	position: relative;
	z-index: 10;
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-top: 10px solid $secondary_color;
							}
							ul.sub-menu {
								a {
									background-color: #fff;
									color: $secondary_color;
								}
							}
						}
						a {
							padding: 12px 18px 20px 18px;
							border-top: 10px solid transparent;
							font-size: 12px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								border-top: 10px solid $secondary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							padding: 5px 10px;
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 8px 10px;
									border: none;
									font: {
										size: 12px;
										weight: normal;
									}
									color: $secondary_color;
									text: {
										transform: inherit;
										align: center;
									}
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		.woocommerce-product-search {
			label {
				display: none;
			}
			input[type=search] {
				width: 112px;
				height: inherit;
				margin: 0;
				padding: 5px;
				border-radius: 0;
				font-size: 12px;
				float: left;
				position: relative;
			}
			[type=submit] {
				padding: 8px 5px;
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
			}
		}
	}
	.moduletable_to4 {
		a {
			padding: 0 10px;
			border-left: 1px solid #fff;
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			display: inline-block;
			&:hover {
				color: $secondary_color;
			}
		}
	}
	.moduletable_to5 {}
	.moduletable_to6 {
		width: 200px;
		margin: {
			top: 68px;
			left: 370px;
		}
		padding: 10px;
		background-color: #fff;
		position: absolute;
		z-index: 1000;
		[type=submit] {
			display: none;
		}
		a {
			&.close {
				margin: 0;
				padding: 5px;
				background-color: $secondary_color;
				border-radius: 0;
			}
		}
	}
}

/* Banner */

.banner {
	margin-top: -54px;
	position: relative;
	z-index: 1;
	.moduletable_ba1 {}
}

/* Block 0 */

.block_0 {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_b01 {
		font: {
			size: 22px;
			weight: bold;
		}
		color: #fff;
		span {
			font-weight: lighter;
		}
		a {
			color: #fff;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font: {
			family: 'Bebas Neue Book';
			size: 32px;
			weight: normal;
		}
		letter-spacing: 3px;
		&.blue {
			color: $secondary_color;
		}
		&.green {
			color: $green_color;
		}
		&.brown {
			color: $brown_color;
		}
		&.pink {
			color: $pink_color;
		}
		&.yellow {
			color: $yellow_color;
		}
		&.purple {
			color: $purple_color;
		}
	}
	h2 {
		&.home {
			background: {
				image: url(h2_home_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 14px;
				weight: bold;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	#products_list_blue,
	#products_list_green,
	#products_list_brown,
	#products_list_pink,
	#products_list_yellow,
	#products_list_purple {
		ul {
			margin: 0;
			list-style: none;
			li {
				margin: 5px 0;
				padding: 10px;
				border-bottom: 1px solid $border;
				a {
					display: block;
				}
			}
		}
	}
	#products_list_blue {
		a {
			color: $secondary_color;
			&:hover {
				background-color: $secondary_color;
				color: #fff;
			}
		}
	}
	#products_list_green {
		a {
			color: $green_color;
			&:hover {
				background-color: $green_color;
				color: #fff;
			}
		}
	}
	#products_list_brown {
		a {
			color: $brown_color;
			&:hover {
				background-color: $brown_color;
				color: #fff;
			}
		}
	}
	#products_list_pink {
		a {
			color: $pink_color;
			&:hover {
				background-color: $pink_color;
				color: #fff;
			}
		}
	}
	#products_list_yellow {
		a {
			color: $yellow_color;
			&:hover {
				background-color: $yellow_color;
				color: #fff;
			}
		}
	}
	#products_list_purple {
		a {
			color: $purple_color;
			&:hover {
				background-color: $purple_color;
				color: #fff;
			}
		}
	}
	.woocommerce {
		.product {
			/*.summary {
				width: auto;
				float: none;
			}*/
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	.moduletable_b11 {
		a {
			&.hollow {
				padding: 10px 0;
				border: {
					left: 0;
					right: 0;
					radius: 0;
				}
				font-weight: bold;
				display: block;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 80px 0;
	background: {
		image: url(block_2_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b21 {
		#a {
			h3 {
				background: {
					image: url(moduletable_b21_h3_bg.png);
					position: left bottom;
					repeat: no-repeat;
				}
				font: {
					family: 'Bebas Neue Book';
					size: 40px;
				}
				color: #fff;
			}
			p {
				font-size: 18px;
				color: #fff;
				span {
					font-size: 22px;
				}
			}
		}
		#b {
			padding: 20px 30px;
			border: 2px solid #fff;
			.wpcf7 {
				input[type=text],
				input[type=email] {
					margin: 0;
					background-color: #e9e9e9;
					border: 0;
					border-radius: 0;
				}
				input[type=submit] {
					&.button {
						margin: 0;
						padding: 5px 20px;
						background-color: $secondary_color;
						border-radius: 0;
						text-transform: uppercase;
					}
				}
				.blank {
					color: #fff;
					a {
						color: #fff;
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	.moduletable_b31 {
		#a {
			a {
				&.button {
					background-color: $secondary_color;
					border-radius: 0;
					font: {
						family: 'Roboto Condensed', sans-serif;
						size: 18px;
					}
				}
			}
		}
		#b {
			h3 {
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 18px;
				}
				text-align: center;
			}
			.tnp-widget {
				.tnp-field {
					margin: 0;
				}
				.tnp-field-email {
					width: 70%;
					float: left;
					position: relative;
					label {
						display: none;
					}
					input.tnp-email {
						margin: 0;
						background-color: $background;
					}
				}
				.tnp-field-button {
					width: 30%;
					float: left;
					position: relative;
					input.tnp-submit {
						margin: 0;
						background-color: $secondary_color;
					}
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		h3 {
			font: {
				family: 'Bebas Neue Book';
				size: 40px;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0 20px 0;
	background-color: #000;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 30px;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* WhatsApp */

.moduletable_wa1 {
	padding: 5px;
	right: 0;
	bottom: 40%;
	background-color: #25d366;
	position: fixed;
	z-index: 10;
	a {
		font-size: 30px;
		color: #fff;
		line-height: 30px;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			.panel-grid-cell {
				margin: 0 !important;
			}
			p {
				text-align: center;
			}
		}
	}

	.top {
		background-color: rgba(0, 0, 0, 1);
		.moduletable_to2 {
			margin: 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #fff;
					text-align: center;
					button {
						&:after {
							background: #fff;
							box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						padding-top: 10px;
						li {
							width: 100%;
							background: none;
							a {
								width: 100%;
								padding: 5px 10px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_to3 {
			/*padding: 10px 0;*/
			display: none;
		}
		.moduletable_to6 {
			margin: {
				top: 120px;
				left: -40px;
			}
		}
	}

	/* Banner */

	.banner {
		margin-top: 0;
	}

	/* Block 0 */

	.block_0 {
		.moduletable_b01 {
			.panel-grid-cell {
				margin: 0 !important;
			}
			font-size: 14px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	/* Top */

	.top {
		.moduletable_to2 {
			.top-bar {
				#responsive-menu {
					ul.menu {
						li {
							&#menu-item-36 {
								ul.sub-menu {
									width: 960px;
									margin-left: -450px;
									padding: 0;
									background-color: #fff;
									li {
										width: 160px;
										padding: 0;
										border: none;
										float: left;
										position: relative;
										&.menu-item-63 {
											a {
												background-image: url(moduletable_to2_1_bg.png);
												color: $secondary_color;
												&:hover {
													background-color: $secondary_color;
												}
											}
										}
										&.menu-item-62 {
											a {
												background-image: url(moduletable_to2_2_bg.png);
												color: $green_color;
												&:hover {
													background-color: $green_color;
												}
											}
										}
										&.menu-item-61 {
											a {
												background-image: url(moduletable_to2_3_bg.png);
												color: $brown_color;
												&:hover {
													background-color: $brown_color;
												}
											}
										}
										&.menu-item-60 {
											a {
												background-image: url(moduletable_to2_4_bg.png);
												color: $pink_color;
												&:hover {
													background-color: $pink_color;
												}
											}
										}
										&.menu-item-306 {
											a {
												background-image: url(moduletable_to2_6_bg.png);
												color: $yellow_color;
												&:hover {
													background-color: $yellow_color;
												}
											}
										}
										&.menu-item-59 {
											a {
												background-image: url(moduletable_to2_5_bg.png);
												color: $purple_color;
												&:hover {
													background-color: $purple_color;
												}
											}
										}
										a {
											min-height: 155px;
											padding-top: 120px;
											background: {
												position: top;
												repeat: no-repeat;
												position: center 10px;
												size: 100px 100px;
											}
											text: {
												align: center;
												transform: uppercase;
											}
											&:hover {
												color: #fff;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}